@import '../variables/variables';
@import '../variables/mixins';




.login {
    width: 80%;
    margin: 0 auto;
    background-color: $secondary-color;
    -webkit-box-shadow: -1px 2px 5px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 5px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 5px -1px rgba(0, 0, 0, 0.75);
    margin-top: 4rem;
    border-radius: 0.5rem;

    @include large{
        width: 40%;

    }
}

.login_title {
    font-size: 24px;
    padding: 1rem;
}

.login_form {
    display: flex;
    flex-direction: column;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

form {
    .inputGroup_input {
        width: 100%;
        border: none;
        border-radius: 0.5rem;
        padding: 5px 5px;
        border: 1px solid $border-color;

        &:focus {
            border: 3px solid $border-color;
            outline: none;
            background-color: $input-color;
        }
    }
}

.inputGroup {
    label {
        margin-bottom: 5px;
    }
}

.login_link{
    text-align: center;
    color: $primary-color;
    padding: 1rem;
    cursor: pointer;
}

.btn_outline {
    outline: none;
    border-radius: 0.5rem;
    width: 50%;
    align-self: center;
    border: none;
    padding: 5px 5px;
    background-color: transparent;
    border: 1px solid $border-color;
    font-size: 16px;
    margin-top: 1rem;
    cursor: pointer;
    transition: border ease-in-out .3s;

}

.btn_outline:hover {
    background-color: $btn-color;
    border: 3px solid $border-color;

}