<div class="container mt-5">

  <h3>Añadir nueva palabra</h3>

  <form class="row g-3" (ngSubmit)="createWord(formWord)" #formWord='ngForm'>
    <div class="col-md-4 col-lg-6">
      <label for="word" class="form-label">Palabra</label>
      <input type="text" class=" form-control" 
       id="word" [(ngModel)]="newWord.word" name="word"  required minlength="3">
    <span class="form-text text-danger" *ngIf="formWord.controls.word?.invalid &&  formWord.controls.word?.touched">
      Debe Ingresar una palabra
    </span>
    </div>
    <div class="col-md-4 col-lg-6">
      <label for="wordSpanish" class="form-label">Traducción</label>
      <input type="text" class="form-control " 
      id="wordSpanish" [(ngModel)]="newWord.wordSpanish"
        name="wordSpanish" required minlength="3">
        <span class="form-text text-danger"  
         *ngIf="formWord.controls.wordSpanish?.invalid &&  formWord.controls.wordSpanish?.touched"
        >
          Debe Ingresar una Traducción
        </span>
    </div>

    <div class="col-md-4 col-lg-6">
      <label for="lenguajes" class="form-label">Lenguaje</label>
      <select class="form-select " id="validationServer04" id="lenguajes" name="lenguajes"
        aria-describedby="validationServer04Feedback"
         [(ngModel)]="newWord.lenguajes " required >
        <option selected disabled value="">--Seleccione una categoría--</option>
        <option value="ingles" selected="true">Ingles</option>
        <option value="portugues">Portugues</option>
      </select>
      <span class="form-text text-danger" *ngIf="formWord.controls.lenguajes?.invalid &&  formWord.controls.lenguajes?.touched">
        Debe seleccionar un Lenguaje
      </span>
    </div>

    <div class="col-md-4 col-lg-6">
      <label for="category" class="form-label">Categoría</label>
      <input type="text" class="form-control" id="category" name="category"
        (input)="CategoriasSugeridas(category)">

        <ul class="list-group">
          <li  class='list-group-item list-group-item-action'  *ngFor="let item of listCategorySugerido"
            (click)="insertCategory(item)">
             {{item.category}}</li>
        </ul>

      <ul>
        <li *ngFor="let item of listCategorySelected">{{item.category}}</li>
      </ul>
    </div>

    <div class="col-md-4 col-lg-6">
      <label for="level" class="form-label">Nivel</label>
      <input type="text" class="form-control " id="level" [(ngModel)]="newWord.level" name="level" minlength="3" required>
      <span class="form-text text-danger" *ngIf="formWord.controls.level?.invalid &&  formWord.controls.level?.touched">
        Debe Ingresar un Nivel
      </span>
    </div>

<div class="mb-3 col-md-6">
  <label for="image" class="form-label">Seleccione una imagen</label>
  <input type="file" class="form-control" id="image" name="image" (change)="onImageSelected($event)">
  <div *ngIf="imgErrorMsg" class="text-danger">{{ imgErrorMsg }}</div>
</div>

<div class="mb-3 col-md-6">
  <label for="audio" class="form-label">Seleccione un audio</label>
  <input type="file" class="form-control" id="audio" name="audio" (change)="onAudioSelected($event)">
  <div *ngIf="audioErrorMsg" class="text-danger">{{ audioErrorMsg }}</div>
</div>
    
    <div class="col-12">
      <button class="btn btn-primary" [disabled]="!isValidForm" >Agregar</button>
    </div>
  </form>
</div>

<div *ngIf="isVisible$ | async" class="alert alert-{{type}}" role="alert">


  <app-alert message="¡Usuario creado con exito!!" type="success"></app-alert>

</div>
